@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(#ECD59F, #E1D4C2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  
.container {
    width: 550px;
    height: auto;
    background-color: #CBA863;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label{
    color: #421E18;
    display: block;
    margin-bottom: 5px;
}
  
input[type="text"], input[type="email"], input[type="password"], input
{
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
  
input[type="submit"], input[type="button"]{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #967862;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
  
input[type="submit"]:hover, input[type="button"]:hover{
    background-color: #6F86A2;
}  
